<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Backend.Properties.Settings.PiggyBankConnectionString"
            connectionString="Data Source=CRISACERN5\SQLEXPRESS;Initial Catalog=PiggyBank;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>